{% extends 'app_user/auth_base.html' %}
{% load static %}


{% block content %}

<body>
    {% include 'app_user/header.html' %}
    <section class="position-relative py-4 py-xl-5">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                    <h6 class="text-start mb-4 fw-700">Confirm Details</h6>
                    {% for rs in card_info %}
                    <div class="card mb-4 custom-radius">
                        <div class="card-body p-0 mx-3 my-3">
                            <div><a data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse-1" href="#collapse-1" role="button" id="toogleIcon1" class="fw-600 fs-14 primary-text text-decoration-none"><i id="icon1" class="fs-16 me-2 fa fa-caret-right"></i>Personal Information</a>
                                <div class="collapse" id="collapse-1">
                                    <form class="mt-3" method="post">
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div><label class="form-label fw-600 fs-12" for="email"><strong>First Name</strong></label><input class="form-control" type="email" name="first-name" placeholder="{{ rs.card_first_name }} " required="" value="{{ rs.card_first_name }} " readonly=""></div>
                                            </div>
                                            <div class="col-md-6">
                                                <div><label class="form-label fw-600 fs-12" for="email"><strong>Last Name</strong></label><input class="form-control" type="email" name="last-name" placeholder="{{ rs.user.last_name }}" required="" value="{{ rs.card_last_name }}" readonly=""></div>
                                            </div>
                                        </div>
                                        <div class="mb-3"><label class="form-label fw-600 fs-12" for="email">Email</label><input class="form-control" type="email" name="email" placeholder="{{ rs.card_email }}" required="" value="{{ rs.card_email }}" readonly=""></div>
                                        <div class="mb-3"><label class="form-label fw-600 fs-12" for="email">Phone Number</label><input class="form-control" type="tel" placeholder="+234" required="" maxlength="14" minlength="11" value="{{ rs.card_phone_no }}" name="phone" readonly=""></div>
                                        <div class="mb-3"><label class="form-label fw-600 fs-12" for="file"><strong>Profile Image</strong></label>
                                        <div class="drag-image active" style="height: 250px;"><img alt="image" src="{{rs.card_profile_photo.url }}"><input class="form-control" type="file" id="profileImg" hidden="" required="" accept="image/*"></div>
                                        </div>
                                        <div class="mb-3"><label class="form-label fw-600 fs-12" for="website">Website</label><input class="form-control" type="url" placeholder="www.example.com" name="website" value="{{ rs.card_website }}" readonly=""></div>
                                        <div class="mb-3"><label class="form-label fw-600 fs-12" for="company-name"><strong>Company Name</strong></label><input class="form-control" type="url" placeholder="Enter Company Name" name="company-name" value="{{ rs.card_company }}" readonly=""></div>
                                        <div class="mb-3"><label class="form-label fw-600 fs-12" for="job-title"><strong>Job Title</strong><br></label><input class="form-control" type="url" placeholder="Enter Job Title" name="job-title" value="{{ rs.card_job_title}}" readonly=""></div>
                                        <div class="mb-3"><a class="btn btn-secondary d-block w-100" role="button">Edit</a></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4 custom-radius">
                        <div class="card-body p-0 mx-3 my-3">
                            <div><a data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse-2" href="#collapse-2" role="button" id="toogleIcon2" class="fw-600 fs-14 primary-text text-decoration-none"><i id="icon2" class="fs-16 me-2 fa fa-caret-right"></i><strong>Address</strong></a>
                                <div class="collapse" id="collapse-2">
                                    <form class="mt-3" method="post">
                                        <div class="mb-3"><label class="form-label fw-600 fs-12" for="street"><strong>Street Address</strong><br></label><input class="form-control" type="url" placeholder="123 Silicon Street" name="street" required="" value="{{ rs.card_address }}" readonly=""></div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div><label class="form-label fw-600 fs-12" for="email"><strong>City</strong><br></label><input class="form-control" type="email" name="city" placeholder="Ikeja" required="" value="{{ rs.card_city }}" readonly=""></div>
                                            </div>
                                            <div class="col-md-6">
                                                <div><label class="form-label fw-600 fs-12" for="email"><strong>State</strong><br></label><input class="form-control" type="email" name="state" placeholder="Lagos" required="" value="{{ rs.card_state }}" readonly=""></div>
                                            </div>
                                        </div>
                                        <div class="mb-3"><label class="form-label fw-600 fs-12" for="zip">Zip</label><input class="form-control" type="number" name="zip" placeholder="00000" value="{{ rs.card_zip_code }}" readonly=""></div>
                                        <div class="mb-3"><label class="form-label fw-600 fs-12" for="country"><strong>Country</strong><br></label><input class="form-control" type="text" name="country" value="{{ rs.card_country }}" placeholder="Nigeria" readonly=""></div>
                                        <div class="mb-3"><a class="btn btn-secondary d-block w-100" role="button">Edit</a></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4 custom-radius">
                        <div class="card-body p-0 mx-3 my-3">
                            <div><a data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse-3" href="#collapse-3" role="button" id="toogleIcon3" class="fw-600 fs-14 primary-text text-decoration-none"><i id="icon3" class="fs-16 me-2 fa fa-caret-right"></i><strong>Social Media</strong></a>
                                <div class="collapse" id="collapse-3">
                                    <form class="mt-3" method="post">
                                        <div class="mb-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em" fill="currentColor" class="fs-5 me-2" style="color: #1877F2;">
                                                <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                                <path d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"></path>
                                            </svg><label class="form-label fw-600 fs-12" for="facebook"><strong>Facebook</strong><br></label><input class="form-control" type="url" placeholder="eg. www.facebook.com/page" name="facebook" value="{{ rs.facebook_link }}" readonly=""></div>
                                        <div class="mb-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em" fill="currentColor" class="fs-5 me-2" style="color: #1D9BF0;">
                                                <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                                <path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"></path>
                                            </svg><label class="form-label fw-600 fs-12" for="twitter">Twitter</label><input class="form-control" type="url" placeholder="eg. www.twitter.com/page" name="twitter" value="{{ rs.twitter_link }}" readonly=""></div>
                                        <div class="mb-3"><i class="fab fa-instagram ig-logo me-2 fs-5 fw-700" aria-hidden="true"></i><label class="form-label fw-600 fs-12" for="instagram"><strong>Instagram</strong></label><input class="form-control" type="url" placeholder="eg. www.instagram.com/username" name="instagram" value="{{ rs.instagram_link }}" readonly=""></div>
                                        <div class="mb-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="-32 0 512 512" width="1em" height="1em" fill="currentColor" class="fs-5 me-2" style="color: #0a66c2;">
                                                <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                                <path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"></path>
                                            </svg><label class="form-label fw-600 fs-12" for="linkedin"><strong>LinkedIn</strong></label><input class="form-control" type="url" placeholder="{{ rs.linkedin_link }}" name="linkedin" value="{{ rs.linkedin_link }}" readonly=""></div>
                                        <div class="mb-3"><a class="btn btn-secondary d-block w-100" role="button">Edit</a></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div><a class="btn btn-dark d-block w-100" role="button" href="{% url 'order:complete' rs.id %}">Save</a></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}