{% extends 'app_user/auth_base.html' %}
{% load static %}
{% load humanize %}


{% block content %} 

<body>
    {% include 'app_user/header.html' %}
    <div class="container py-4 py-xl-5">
        <div class="row d-lg-flex justify-content-lg-center">
            <div class="col-md-6 col-lg-5 order-last order-sm-last order-md-first order-lg-first order-xl-first">
                <h3 class="fw-700 fs-20"><strong>Shipping Information</strong><br></h3>
                <form class="w-100" method="post">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div><label class="form-label fw-600 fs-12" for="email"><strong>First Name</strong></label><input class="form-control" type="text" name="first_name" placeholder="John" value="{{ app_user.user.first_name }}"></div>
                        </div>
                        <div class="col-md-6">
                            <div><label class="form-label fw-600 fs-12" for="email"><strong>Last Name</strong></label><input class="form-control" type="text" name="last_name" placeholder="Doe" value="{{ app_user.user.last_name }}"></div>
                        </div>
                    </div>
                    <div class="mb-3"><label class="form-label fw-600 fs-12" for="email">Email</label><input class="form-control" type="text" name="email" placeholder="example@email.com" value="{{ app_user.user.email }}" required=""></div>
                    <div class="mb-3"><label class="form-label fw-600 fs-12" for="email">Phone Number</label><input class="form-control" type="tel" placeholder="+234" value="{{ app_user.phone_no }}" name="phone" maxlength="14" minlength="11"></div>
                    <div class="mb-3"><label class="form-label fw-600 fs-12" for="street"><strong>Address</strong><br></label><input class="form-control" type="text" placeholder="123 Silicon Street" name="address" value="{{ app_user.address }}"></div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="mb-3"><label class="form-label fw-600 fs-12" for="email"><strong>City</strong><br></label><input class="form-control" type="text" name="city" placeholder="Ikeja" value="{{ app_user.city }}"></div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-3"><label class="form-label fw-600 fs-12" for="email"><strong>State</strong><br></label><input class="form-control" type="text" name="state" placeholder="Lagos" value="{{ app_user.state }}"></div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-3"><label class="form-label fw-600 fs-12" for="zip"><strong>Postal Code (optional)</strong></label><input class="form-control" type="number" name="postal_code" placeholder="00000" value="{{ app_user.zip_code }}"></div>
                        </div>
                    </div>
                    <div class="mb-3"><label class="form-label fw-600 fs-12" for="country"><strong>Country</strong><br></label><input class="form-control" type="text" placeholder="Nigeria" name="country" value="{{ app_user.country }}"></div>
                    <div class="mb-3 mt-5"><button type="submit" class="btn btn-dark d-block w-100 fs-14" role="button" ><svg class="me-2" width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_138_1133)">
<path d="M0.700195 4.96044C0.700195 4.02344 0.974195 3.22344 1.5492 2.64844L2.5492 3.64844C1.4362 4.75744 2.4082 8.20544 5.5772 11.3774C8.7462 14.5494 12.1962 15.5204 13.3082 14.4094L14.3082 15.4094C12.4322 17.2854 8.1592 15.9544 4.5822 12.3764C2.1012 9.89444 0.700195 7.07844 0.700195 4.96044Z" fill="#009A46"/>
<path d="M7.00636 16.2721C6.06936 16.2721 5.26936 15.9981 4.69336 15.4231L5.69336 14.4231C6.80436 15.5341 10.2524 14.5621 13.4244 11.3911C16.5964 8.22013 17.5664 4.77213 16.4554 3.66113L17.4554 2.66113C19.3324 4.53713 18.0004 8.81013 14.4224 12.3871C11.9404 14.8721 9.12436 16.2721 7.00636 16.2721Z" fill="white"/>
<path d="M14.7533 10.9557C14.1463 9.20772 12.9063 7.33972 11.2613 5.69572C7.68428 2.11772 3.41128 0.785724 1.53528 2.66272C1.40228 2.79672 1.51728 3.12772 1.79328 3.40372C2.06928 3.67972 2.40028 3.79372 2.53328 3.66072C3.64528 2.54972 7.09328 3.52172 10.2643 6.69372C11.7643 8.19372 12.8823 9.86872 13.4213 11.4187C13.8933 12.7777 13.8473 13.8737 13.2973 14.4237C13.1633 14.5567 13.2793 14.8887 13.5543 15.1637C13.8293 15.4387 14.1613 15.5547 14.2953 15.4207C15.2563 14.4597 15.4193 12.8717 14.7533 10.9557Z" fill="#F5AFCB"/>
<path d="M17.4533 2.66278C16.4903 1.69978 14.9043 1.53678 12.9863 2.20378C11.2393 2.80978 9.37034 4.05078 7.72634 5.69478C4.14934 9.27178 2.81734 13.5448 4.69334 15.4218C4.82734 15.5548 5.15834 15.4398 5.43434 15.1648C5.71034 14.8898 5.82534 14.5578 5.69134 14.4238C4.57734 13.3128 5.55234 9.86478 8.72434 6.69278C10.2243 5.19278 11.8993 4.07478 13.4493 3.53578C14.8083 3.06478 15.9043 3.10978 16.4553 3.65978C16.5883 3.79278 16.9203 3.67778 17.1953 3.40178C17.4703 3.12578 17.5863 2.79578 17.4533 2.66278Z" fill="#FF9B00"/>
</g>
<defs>
<clipPath id="clip0_138_1133">
<rect width="18" height="18" fill="white" transform="translate(0.5)"/>
</clipPath>
</defs>
</svg>
Pay with Flutterwave</button></div>
                </form>
            </div>
            <div class="col-md-6 col-lg-5 order-first order-sm-first order-md-last order-lg-last order-xl-last">
                <div class="mb-5 border-bottom pb-3"><a class="d-md-none d-lg-none d-xl-none d-xxl-none text-primary fs-14 text-decoration-none" data-bs-toggle="collapse" aria-expanded="true" aria-controls="collapse-1" href="#collapse-1" role="button" id="toggleSummary"><span id="summary-btn-text">Hide order summary</span><i id="summary-icon" class="fs-12 ms-2 fa fa-chevron-up"></i><span class="float-end fw-600 primary-text fs-16">NGN 23,000.00</span></a>
                    <div class="collapse show d-lg-block d-md-block" id="collapse-1">
                        <hr class="d-md-none d-lg-none d-xl-none d-xxl-none">
                        {% if cards %}

                    {% for item in cards %}

                        <div class="table-responsive border-bottom">
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <td class="text-start fw-700 fs-16 w-50">
                                            {% if item.quantity >= 1 %}
                                        
                                            <p class="m-0"><strong>ThisPass Classic Card</strong><span class="ms-2 fw-400 fs-14 secondary-text">x{{ item.quantity }}</span><br></p><span class="fw-400 fs-14 secondary-text"><span style="font-weight: normal !important; color: rgb(117, 117, 117);">Black</span><br></span>

                                      
                                      {% else %}
                                        None
                                      {% endif %}
                                        </td>
                                        <td class="text-end secondary-text w-50">NGN {{ price|floatformat:2|intcomma }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}
                        {% endif %}
                        {% if cards %}
                    
                        <div class="table-responsive">
                            <table class="table table-borderless mb-0">
                                <tbody class="border-bottom">
                                    <tr>
                                        <td class="text-start fw-400 fs-16 w-50">Subtotal</td>
                                        <td class="text-end secondary-text w-50">NGN {{ subtotal|floatformat:2|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        
                                        <td class="text-start fw-400 fs-16 w-50">Shipping</td>
                                        <td class="text-end secondary-text w-50">NGN {{ shipping|floatformat:2|intcomma }}</td>
                                      
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="w-50 fw-700 fs-20">Total</td>
                                        <td class="text-end w-50 fw-700 fs-20">NGN {{ total|floatformat:2|intcomma}}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}