{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ThisPass</title>
    <meta name="description" content="Easily expand your network with ThisPass NFC enabled cards- Share your contact details with a simple tap of your card.">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{% static 'assets/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicon-16x16.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="180x180" href="{% static 'assets/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'assets/img/android-chrome-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="512x512" href="{% static 'assets/img/android-chrome-512x512.png' %}">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Manrope:200,300,400,500,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="assets/css/Projects-Grid-images.css">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md py-3">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="index.html"><img src="{% static 'assets/img/BndW-LoGO.png' %}" style="width: 50px;"></a><a class="btn btn-dark py-2 px-3" role="button" data-bss-hover-animate="pulse" href="coming-soon.html">Get a card</a></div>
    </nav>
    <div class="container-fluid px-md-5 px-sm-4 px-lg-4 px-xl-6 px-xxl-6 px-3">
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-2 py-5">
            <div class="col d-flex align-items-center">
                <div class="py-3">
                    <h1 class="display-4 fw-700" data-aos="fade" data-aos-duration="500" data-aos-once="true">Don't swap cards, just tap and share</h1>
                    <h5 data-aos="zoom-in" data-aos-duration="500" data-aos-delay="250" data-aos-once="true" class="secondary-text fw-400 fs-20 mb-5">Easily expand your network with Thispass - Share your contact details with a simple tap of your card.</h5><a class="btn btn-dark py-2 px-4 me-3" role="button" data-aos="fade-right" data-aos-duration="500" data-aos-delay="500" data-aos-once="true" href="coming-soon.html">Get a card</a><button class="btn btn-light py-2 px-4" data-aos="fade-left" data-aos-duration="500" data-aos-delay="500" data-aos-once="true" type="button" style="background: #F0F0F0;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em" fill="currentColor" class="me-2">
                            <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                            <path d="M188.3 147.1C195.8 142.8 205.1 142.1 212.5 147.5L356.5 235.5C363.6 239.9 368 247.6 368 256C368 264.4 363.6 272.1 356.5 276.5L212.5 364.5C205.1 369 195.8 369.2 188.3 364.9C180.7 360.7 176 352.7 176 344V167.1C176 159.3 180.7 151.3 188.3 147.1V147.1zM512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256zM256 48C141.1 48 48 141.1 48 256C48 370.9 141.1 464 256 464C370.9 464 464 370.9 464 256C464 141.1 370.9 48 256 48z"></path>
                        </svg>Watch Video</button>
                </div>
            </div>
            <div class="col d-flex align-items-center"><img class="img-fluid w-100" data-aos="zoom-out" data-aos-duration="500" data-aos-delay="250" data-aos-once="true" src="{% static 'assets/img/web1.svg' %}"></div>
        </div>
        <h1 class="text-center my-5 fw-700 fs-40" data-aos="fade" data-aos-duration="500" data-aos-once="true">How it Works</h1>
        <div class="row pb-5">
            <div class="col-sm-12 col-lg-4 col-xl-4 col-xxl-4 px-sm-0 px-md-0 px-lg-3 px-xl-3 px-xxl-3">
                <div class="card border-0 rounded-3 px-3 h-100" style="background-color: #FCFCFC;">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center rounded-circle" data-aos="fade-right" data-aos-once="true" style="width: 50px;height: 50px;background-color: #F0F0F0;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -32 576 576" width="1em" height="1em" fill="currentColor" data-aos="fade-right" data-aos-once="true" class="h4 mb-0">
                                <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                <path d="M96 0C107.5 0 117.4 8.19 119.6 19.51L121.1 32H541.8C562.1 32 578.3 52.25 572.6 72.66L518.6 264.7C514.7 278.5 502.1 288 487.8 288H170.7L179.9 336H488C501.3 336 512 346.7 512 360C512 373.3 501.3 384 488 384H159.1C148.5 384 138.6 375.8 136.4 364.5L76.14 48H24C10.75 48 0 37.25 0 24C0 10.75 10.75 0 24 0H96zM128 464C128 437.5 149.5 416 176 416C202.5 416 224 437.5 224 464C224 490.5 202.5 512 176 512C149.5 512 128 490.5 128 464zM512 464C512 490.5 490.5 512 464 512C437.5 512 416 490.5 416 464C416 437.5 437.5 416 464 416C490.5 416 512 437.5 512 464z"></path>
                            </svg></div>
                        <h6 class="card-subtitle my-3 fw-700 fs-18" data-aos="fade-right" data-aos-once="true">Order your card</h6>
                        <p class="card-text fw-400 fs-16" data-aos="fade-up" data-aos-duration="500" data-aos-delay="250" data-aos-once="true">Select a preferred card type. Complete the order process and payment.&nbsp;After approval we will program, produce and ship your card.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4 col-xl-4 col-xxl-4 px-sm-0 px-md-0 px-lg-3 px-xl-3 px-xxl-3 my-3 my-sm-3 my-md-3 my-lg-0 my-xl-0 my-xxl-0">
                <div class="card border-0 rounded-3 px-3 h-100" style="background-color: #FCFCFC;">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center rounded-circle" data-aos="fade-down" data-aos-duration="500" data-aos-once="true" style="width: 50px;height: 50px;background-color: #F0F0F0;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -32 576 576" width="1em" height="1em" fill="currentColor" data-aos="fade-down" data-aos-duration="500" data-aos-once="true" class="h4 mb-0">
                                <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                <path d="M512 32H64C28.65 32 0 60.65 0 96v320c0 35.35 28.65 64 64 64h448c35.35 0 64-28.65 64-64V96C576 60.65 547.3 32 512 32zM176 128c35.35 0 64 28.65 64 64s-28.65 64-64 64s-64-28.65-64-64S140.7 128 176 128zM272 384h-192C71.16 384 64 376.8 64 368C64 323.8 99.82 288 144 288h64c44.18 0 80 35.82 80 80C288 376.8 280.8 384 272 384zM496 320h-128C359.2 320 352 312.8 352 304S359.2 288 368 288h128C504.8 288 512 295.2 512 304S504.8 320 496 320zM496 256h-128C359.2 256 352 248.8 352 240S359.2 224 368 224h128C504.8 224 512 231.2 512 240S504.8 256 496 256zM496 192h-128C359.2 192 352 184.8 352 176S359.2 160 368 160h128C504.8 160 512 167.2 512 176S504.8 192 496 192z"></path>
                            </svg></div>
                        <h6 class="card-subtitle my-3 fw-700 fs-18" data-aos="fade-down" data-aos-duration="500" data-aos-once="true">Create your profile</h6>
                        <p class="card-text fw-400 fs-16" data-aos="fade-up" data-aos-duration="500" data-aos-delay="250" data-aos-once="true">Create a profile for your card or input already existing profile(s) on your card.&nbsp;Edit to your preference.<br></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4 col-xl-4 col-xxl-4 px-sm-0 px-md-0 px-lg-3 px-xl-3 px-xxl-3">
                <div class="card border-0 rounded-3 px-3 h-100" style="background-color: #FCFCFC;">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center rounded-circle" data-aos="fade-left" data-aos-duration="500" data-aos-once="true" style="width: 50px;height: 50px;background-color: #F0F0F0;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-share-fill h4 mb-0" data-aos="fade-left" data-aos-duration="500" data-aos-once="true">
                                <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"></path>
                            </svg></div>
                        <h6 class="card-subtitle my-3 fw-700 fs-18" data-aos="fade-left" data-aos-duration="500" data-aos-once="true">Share your profile</h6>
                        <p class="card-text fw-400 fs-16" data-aos="fade-up" data-aos-duration="500" data-aos-delay="250" data-aos-once="true">Share by tapping your ThisPass card on the NFC enabled mobile device. Click on the notification that pops up.</p>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="text-center my-5 fw-700 fs-40" data-aos="zoom-in" data-aos-duration="500" data-aos-once="true">Tap to access, share, be identified and pay<br></h1>
        <div class="row gy-3 gy-sm-3 gy-md-3 gy-lg-0 gy-xl-0 gy-xxl-0 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-2 d-flex justify-content-around">
            <div class="col">
                <div class="card text-white px-xl-3 px-xxl-3 px-lg-3 h-100" data-aos="flip-left" data-aos-duration="500" data-aos-once="true" style="background-color: #131313;">
                    <div class="card-body pb-0">
                        <h4 class="card-title fw-600 fs-32">For personal use</h4>
                        <p class="card-text fw-400 fs-20">Grow your network and easily&nbsp;make payments with our individual cards.</p>
                        <div class="text-end w-100" style="height: 150px;"><img class="h-100" src="{% static 'assets/img/users.svg' %}" width="174" height="150"></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white px-xl-3 px-xxl-3 px-lg-3 h-100" data-aos="flip-right" data-aos-duration="500" data-aos-once="true" style="background-color: #131313;">
                    <div class="card-body pb-0">
                        <h4 class="card-title fw-600 fs-32"><strong>For organizations</strong></h4>
                        <p class="card-text fw-400 fs-20">Customized cards for your employees. Access, payment, attendance and business cards all in one</p>
                        <div class="text-end w-100" style="height: 150px;"><img class="h-100" src="{% static 'assets/img/business.svg' %}"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 d-flex justify-content-center align-items-center py-5" data-aos="zoom-in" data-aos-duration="500" data-aos-once="true">
                <div class="web-cards">
                    <div class="web-black-card"></div>
                    <div class="web-white-card"></div>
                    <div class="web-grey-card"></div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <h1 data-aos="fade" data-aos-duration="500" data-aos-once="true" class="fw-700 fs-40">Use Cases</h1>
                <p data-aos="fade-down" data-aos-duration="500" data-aos-once="true" class="fw-400 fs-18">Don’t swap cards just tap and share, access, be identified, and make payments easily.<br></p>
                <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2">
                    <div class="col">
                        <div>
                            <h4 data-aos="zoom-in" data-aos-duration="500" data-aos-once="true" class="fs-20 fw-600">Identification</h4>
                            <p data-aos="zoom-in" data-aos-duration="500" data-aos-once="true" class="fs-16 fw-400">Contactless ID cards, tap your card to be known or share business details.<br></p>
                        </div>
                    </div>
                    <div class="col">
                        <div>
                            <h4 data-aos="zoom-in" data-aos-duration="500" data-aos-once="true" class="fs-20 fw-600">Access</h4>
                            <p data-aos="zoom-in" data-aos-duration="500" data-aos-once="true" class="fs-16 fw-400">Keyless door entry using your card for authentication and verification, tap to get access.<br></p>
                        </div>
                    </div>
                    <div class="col">
                        <div>
                            <h4 data-aos="zoom-in" data-aos-duration="500" data-aos-once="true" class="fs-20 fw-600">Payment</h4>
                            <p data-aos="zoom-in" data-aos-duration="500" data-aos-once="true" class="fs-16 fw-400">Tap and pay, Contactless payments allowing your card and a payment terminal to communicate securely with each other.<br></p>
                        </div>
                    </div>
                    <div class="col">
                        <div>
                            <h4 data-aos="zoom-in" data-aos-duration="500" data-aos-once="true" class="fs-20 fw-600">Attendance Monitoring</h4>
                            <p data-aos="zoom-in" data-aos-duration="500" data-aos-once="true" class="fs-16 fw-400">Digital record keeping of employee attendance with a tap or a tap to sign in or sign-out.<br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="py-4 py-xl-5 mb-5">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
                        <div>
                            <h2 class="text-capitalize fw-bold mb-3" data-aos="zoom-in" data-aos-duration="500" data-aos-once="true">Go digital with Thispass</h2>
                            <p data-aos="zoom-out" data-aos-duration="500" data-aos-once="true" class="mb-4">Tap your ThisPass card and be able to share information, be identified, gain access and make payments.<br></p><a class="btn btn-dark fs-5 me-2 py-2 px-4" role="button" data-aos="fade-up" data-aos-duration="500" data-aos-once="true" href="coming-soon.html">Get a card</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="text-center py-4 border-top">
            <div class="container">
                <div class="row row-cols-1 row-cols-lg-2">
                    <div class="col text-center text-sm-center text-md-center text-lg-start text-xl-start text-xxl-start">
                        <p class="text-muted my-2">ThisPass 2022. All rights reserved</p>
                    </div>
                    <div class="col text-center text-sm-center text-md-center text-lg-end text-xl-end text-xxl-end">
                        <ul class="list-inline my-2">
                            <li class="list-inline-item"><a class="text-decoration-none" href="https://www.instagram.com/thispass.io/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" viewBox="-32 0 512 512" width="1em" height="1em" fill="currentColor" class="fs-5 text-dark" data-bss-hover-animate="pulse">
                                        <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                        <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path>
                                    </svg></a></li>
                            <li class="list-inline-item me-4"><a class="text-decoration-none" href="mailto: hello@thispass.io" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em" fill="currentColor" class="fs-5 text-dark" data-bss-hover-animate="pulse">
                                        <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                        <path d="M464 64C490.5 64 512 85.49 512 112C512 127.1 504.9 141.3 492.8 150.4L275.2 313.6C263.8 322.1 248.2 322.1 236.8 313.6L19.2 150.4C7.113 141.3 0 127.1 0 112C0 85.49 21.49 64 48 64H464zM217.6 339.2C240.4 356.3 271.6 356.3 294.4 339.2L512 176V384C512 419.3 483.3 448 448 448H64C28.65 448 0 419.3 0 384V176L217.6 339.2z"></path>
                                    </svg></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'assets/js/bs-init.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>