{% extends 'app_user/auth_base.html' %}
{% load static %}

{% block content %}

<body class="vh-100">
    {% include 'app_user/header.html' %}
    <div class="container d-flex align-items-xl-center h-100">
        <div class="my-12">
            <h1 class="text-center fw-700 fs-40">Finish up your purchase</h1>
            <div class="row mt-5s">
                <div class="col-lg-12 px-5 mb-5">
                    <div class="card py-5 px-3 custom-radius">
                        <div class="card-body">
                            <p class="card-text mb-5">Pay with flutterwave..</p>
                            <form>
                                <script src="https://js.paystack.co/v1/inline.js"></script>
                                <button btn btn-dark type="button" onclick="payWithPaystack()"> Pay! </button> 
                              </form>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>


<!-- place below the html form -->
<script>
    function payWithPaystack(){
      var handler = PaystackPop.setup({
        key: 'pk_test_33ebd1961880161ee028ef962b6c34eae07b5718',
        email: '{{ order.app_user.user.email }}',
        amount: {% widthratio order.total 1 100 %},
        ref: ''+Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
        metadata: {
           custom_fields: [
              {
                  display_name: '{{ order.app_user.user.email }}',
                  variable_name: '{{ order.app_user.user.email }}',
                  value: '{{ order.app_user.phone_no }}'
              }
           ]
        },
        callback: function(response){
            alert('success. transaction ref is ' + response.reference);
            window.location.href = "{% url 'payment:confirm_payment' order.id %}";
        },
        onClose: function(){
            alert('window closed');
        }
      });
      handler.openIframe();
    }
  </script>
  
{% endblock %}